.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo {
  width: 50px;
}
.theme-btn {
  display: flex;
  padding: 12px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: var(--theme-btn-bg);
  transition: background-color 0.2s ease-out;
}
.theme-btn:hover {
  background-color: var(--theme-btn-hover-bg);
}
.theme-icon {
  color: var(--text-color);
  font-size: 1.2rem;
}
