.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.02em;
  font-size: 25px;
  font-weight: 500;
}
.logo .game {
  color: var(--logo-primary);
}
.logo .box {
  color: var(--logo-accent);
  font-weight: 800;
}
.theme-btn {
  display: flex;
  padding: 12px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: var(--theme-btn-bg);
  transition: background-color 0.2s ease-out;
}
.theme-btn:hover {
  background-color: var(--theme-btn-hover-bg);
}
.theme-icon {
  color: var(--text-color);
  font-size: 1.2rem;
}

/* Responsive */
@media (max-width: 425px) {
  .navbar {
    gap: 15px;
  }
  .logo {
    font-size: 20px;
  }
  .theme-btn {
    padding: 10px;
  }
}
