.game-card {
  background-color: var(--card-bg);
  border-radius: 10px;
  text-align: left;
  overflow: hidden;

  color: inherit;
  text-decoration: none;

  transition: transform 0.22s ease-out;
}
.game-card:hover {
  transform: translateY(-4px);
}
/* Might leak to children components
.game-card img { } */

.game-card__img {
  width: 100%;
}
.game-card__info {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 30px 15px;
  gap: 0.5rem;
}
.game-card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}
.game-card__title {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}
