.game-card {
  background-color: var(--card-bg);
  border-radius: 10px;
  text-align: left;
  overflow: hidden;
}
/* Might leak to children components
.game-card img { } */

.game-card__img {
  width: 100%;
}
.game-card__info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
.game-card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}
.game-card__title {
  flex: 1;
}