.app {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.content {
  display: flex;
  gap: 1.5rem;
  margin-top: 1.5rem;
  padding-bottom: calc(var(--mobile-genre-bar-height) + 20px);
}
.content aside {
  flex: 0 1 220px; /* starts at 220px, can shrink, but won’t grow */
  min-width: 150px; /* prevent it from shrinking too much */
}
.content aside h2 {
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 1.5rem;
}
.content main {
  flex: 1 1 0; /* main takes remaining space and shrinks proportionally */
  min-width: 0; /* important for flex children to shrink properly */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .selectors {
  display: flex;
  gap: 1rem;
}
.notFound {
  min-height: calc(100vh - (2 * var(--body-padding)));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;
}
.notFound h1 {
  font-size: 10rem;
  line-height: 0.8;
}
.notFound p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.6;
}
.notFoundLink {
  font-size: 1.2rem;
  padding: 0.75rem 4rem;
  border-radius: 0.5rem;
  background: var(--text-color);
  color: var(--bg-color);
  text-decoration: none;

  transition: opacity 0.2s;
}
.notFoundLink:hover {
  opacity: 0.8;
}

/* Responsive */
@media (max-width: 768px) {
  .content {
    margin-top: 0.5rem;
  }
  .content aside {
    display: none;
  }
  .content main {
    gap: 1.5rem;
  }
  main .selectors {
    justify-content: center;
  }
}
@media (max-width: 320px) {
  main .selectors {
    flex-direction: column;
  }
}
