.app {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}
.content {
  display: flex;
  gap: var(--space-lg);
  margin-top: var(--space-lg);
}
.content aside {
  flex: 0 1 220px; /* starts at 220px, can shrink, but won’t grow */
  min-width: 150px; /* prevent it from shrinking too much */
}
.content aside h2 {
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: var(--space-lg);
}
.content main {
  flex: 1 1 0; /* main takes remaining space and shrinks proportionally */
  min-width: 0; /* important for flex children to shrink properly */
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
}
main .selectors {
  display: flex;
  gap: var(--space-md);
}
.notFound {
  padding: var(--space-xl);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--space-lg);
}
.notFound h1 {
  font-size: 8rem;
  line-height: 1;
}
.notFound h2 {
  font-size: 1.5rem;
}
.notFound p {
  font-size: 1.1rem;
  line-height: 1.5;
}
.notFoundLink {
  font-size: 1.2rem;
  padding: 0.75rem 3rem;
  border-radius: 0.5rem;
  background: var(--text-color);
  color: var(--bg-color);
  text-decoration: none;

  transition: filter 0.2s;
}
.notFoundLink:hover {
  filter: brightness(0.9);
}

/* Responsive */
@media (max-width: 768px) {
  .content {
    margin-top: var(--space-lg);
    padding-bottom: calc(var(--mobile-genre-bar-height) + 20px);
  }
  .content aside {
    display: none;
  }
  .content main {
    gap: var(--space-lg);
  }
  main .selectors {
    justify-content: center;
  }
}
@media (max-width: 425px) {
  .notFound {
    align-items: center;
    text-align: center;
  }
  .notFound h1 {
    font-size: 6rem;
  }
  .notFound p {
    font-size: 1rem;
  }
  .notFoundLink {
    padding: 0.7rem 3rem;
    font-size: 0.95rem;
  }
}
@media (max-width: 375px) {
  .content {
    margin-top: var(--space-md);
  }
}
@media (max-width: 320px) {
  main .selectors {
    gap: 0.75rem;
    flex-direction: column;
  }
}
